<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.ScreenshotRecordMapper">
    
    <resultMap type="ScreenshotRecord" id="ScreenshotRecordResult">
        <result property="deviceId"    column="device_id"    />
        <result property="screenshotKey"    column="screenshot_key"    />
        <result property="screenshotTime"    column="screenshot_time"    />
    </resultMap>

    <sql id="selectScreenshotRecordVo">
        select device_id, screenshot_key, screenshot_time from screenshot_record
    </sql>

    <select id="selectScreenshotRecordList" parameterType="ScreenshotRecord" resultMap="ScreenshotRecordResult">
        <include refid="selectScreenshotRecordVo"/>
        <where>  
            <if test="screenshotKey != null  and screenshotKey != ''"> and screenshot_key = #{screenshotKey}</if>
            <if test="screenshotTime != null "> and screenshot_time = #{screenshotTime}</if>
        </where>
    </select>
    
    <select id="selectScreenshotRecordByDeviceId" parameterType="Long" resultMap="ScreenshotRecordResult">
        <include refid="selectScreenshotRecordVo"/>
        where device_id = #{deviceId}
    </select>
        
    <insert id="insertScreenshotRecord" parameterType="ScreenshotRecord">
        insert into screenshot_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="screenshotKey != null">screenshot_key,</if>
            <if test="screenshotTime != null">screenshot_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="screenshotKey != null">#{screenshotKey},</if>
            <if test="screenshotTime != null">#{screenshotTime},</if>
         </trim>
    </insert>

    <update id="updateScreenshotRecord" parameterType="ScreenshotRecord">
        update screenshot_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="screenshotKey != null">screenshot_key = #{screenshotKey},</if>
            <if test="screenshotTime != null">screenshot_time = #{screenshotTime},</if>
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteScreenshotRecordByDeviceId" parameterType="Long">
        delete from screenshot_record where device_id = #{deviceId}
    </delete>

    <delete id="deleteScreenshotRecordByDeviceIds" parameterType="String">
        delete from screenshot_record where device_id in 
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
</mapper>