<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.VideoRecordMapper">

    <resultMap type="VideoRecord" id="VideoRecordResult">
        <result property="deviceId" column="device_id"/>
        <result property="recordingKey" column="recording_key"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="deviceName" column="device_name"/>
    </resultMap>

    <sql id="selectVideoRecordVo">
        select vc.device_id, vc.recording_key, vc.start_time, vc.end_time, d.device_name
        from video_record vc
        left join device d on vc.device_id = d.device_id
    </sql>

    <select id="selectVideoRecordList" parameterType="VideoRecord" resultMap="VideoRecordResult">
        select vc.device_id, vc.recording_key, vc.start_time, vc.end_time, d.device_name
        from video_record vc
        left join device d on vc.device_id = d.device_id
        <where>
            <if test="recordingKey != null  and recordingKey != ''">and recording_key = #{recordingKey}</if>
            <if test="startTime != null ">and start_time >= #{startTime,jdbcType=DATE}</if>
            <if test="endTime != null ">and end_time &lt;= #{endTime,jdbcType=DATE}</if>
        </where>
        order by vc.start_time desc
    </select>

    <select id="selectVideoRecordByDeviceId" parameterType="Long" resultMap="VideoRecordResult">
        <include refid="selectVideoRecordVo"/>
        where device_id = #{deviceId}
    </select>

    <insert id="insertVideoRecord" parameterType="VideoRecord">
        insert into video_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="recordingKey != null">recording_key,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="recordingKey != null">#{recordingKey},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
        </trim>
    </insert>

    <update id="updateVideoRecord" parameterType="VideoRecord">
        update video_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordingKey != null">recording_key = #{recordingKey},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteVideoRecordByDeviceId" parameterType="Long">
        delete
        from video_record
        where device_id = #{deviceId}
    </delete>

    <delete id="deleteVideoRecordByRecordingKey" parameterType="String">
        delete
        from video_record
        where recording_key = #{recordingKey,jdbcType=VARCHAR}
    </delete>
</mapper>